// Default & Mobile
@media (min-width: 0px) {

  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    background: #23168c;
  }

  .mob {
    width: 100%;
  }

  p, a, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  body {
    font-family: PPNeueMachina-InktrapLight, montserrat, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
      segoe ui, arial, sans-serif;
  }

  .inactive {
    visibility: hidden;

    .content {
      opacity: 0;
      transition: all 0.8s ease-in-out;

      &.top.left {
        left: 0;
        top: 50px;
      }

      &.bottom.left {
        left: 60px;
        bottom: 50px;
      }

      &.top.right {
        left: 0;
        right: unset;
        top: 50px;
      }

      &.bottom.right {
        left: 60px;
        right: unset;
        bottom: 50px;
      }

      &.center {
        transform: translate(-50%, -55%);
      }

      &.headline {
        transform: translate(-50%, -55%) scale(1.1);
      }
    }
  }
  
  .active {
    .content {
      opacity: 1;
      transition: all 0.8s 1s ease-in-out;

      &.top.left, 
      &.bottom.left {
        left: 10%;
      }
      &.top.right,
      &.bottom.right {
        left: 10%;
        right: unset;
      }
      
      &.center {
        transform: translate(-50%, -50%);
      }

      &.headline {
        transform: translate(-50%, -55%) scale(1);
      }
    }
  }

  .content {
    z-index: 2;
    pointer-events: none;
    position: absolute;
  }

  #intro {
    .headline {
      top: 50%;
      left: 50%;

      h1 {
        text-align: center;
        font-size: 5em;
        font-weight: 900;
        color: #ef225a;
      }
    }
  }

  .scroll {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 1;

    h6 {
      margin: 15px 0;
      height: 20px;
      font-size: 1em;
      font-weight: 400;
      color: #fff;
    }
  }

  p {
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: justify;
  }

  .third {
    width: 80%;
  }

  .full {
    width: 90%;
  }

  .top {
    top: 50px;
  }

  .bottom {
    bottom: 50px;
  }
}

@media (min-width: 768px) {

  .left {
    left: 50px;
  }

  .top {
    top: 50px;
  }

  .right {
    right: 50px;
    left: unset;
  }

  .inactive {
    .content {
      &.top.left, 
      &.bottom.left {
        left: 0px;
        right: unset;
      }

      &.top.right,
      &.bottom.right {
        left: unset;
        right: 0px;
      }
    }
  }

  .active {
    .content {
      &.top.left, 
      &.bottom.left {
        left: 30px;
        right: unset;
      }

      &.top.right,
      &.bottom.right {
        left: unset;
        right: 30px;
      }
    }
  }

  .bottom {
    bottom: 50px;
  }

  p {
    font-size: 1.4em;
  }

  #intro .headline h1 {
    font-size: 7em;
  }

  .third {
    width: 50%;
  }
}

@media (min-width: 1200px) {

  .third {
    width: 30%;
  }

  .active {
    .content {
      &.top.left, 
      &.bottom.left {
        left: 50px;
        right: unset;
      }
      
      &.top.right,
      &.bottom.right {
        left: unset;
        right: 50px;
      }
    }
  }
}


@media (hover:hover) {

  .scroll {
    .arrow {
      display: none;
    }
  } 
}



@media (hover: none) {

  .scroll {
    .arrow {
      position: relative;
      margin: 0 auto;
      height: 15px;
      width: 15px;
      border-right: solid 1.5px #fff;
      border-bottom: solid 1.5px #fff;
      rotate: 45deg;
      animation: scrollAnimation 1s ease-out infinite;
    }
  } 
}

// RESUME

#resume {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% auto;
}

.box {
  width: 20vw;
  height: 20vh;
  border: #ef225a solid;
}

h3, h4, h5 {
  font-size: 2em;
  font-weight: 400;
}

h3 {
  font-weight: 600;
  margin: 4em 0;
}

h4 {
  margin: 2em 0 0;
}

h5 {
  font-size: 1.4em;
  margin: 0.2em 0;
}

h6 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0.5em 0;
}